job_filter_category_sidebar jb_cover{
    border: gray solid 20px;
}

.job_filter_sidebar_heading {
    background-color: #FD1616;
    color:#ffffff;
}

.job_filter_sidebar_heading  h1{
    /* background-color: #ff3366; */
    color:#ffffff;
}
.container{
    max-width: 1500px;
}
.job_filter_category_sidebar{
    height: 450px;
}
.feedlist li button {
    text-transform: capitalize;
    font-size: 16px;
    color: #222;
    padding: 12px 0px;
    padding-left: 35px;
    border-left: 3px solid transparent;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cat label {
    border: gray solid 5px;
    width: 40%;
    padding: 2%;
    cursor: pointer;
    height: 50px;
    font-size: larger;
    float: left;
    margin-left: 5%;
}
.catSelected label {
    border: rgb(16, 100, 16) solid 5px;
    width: 40%;
    padding: 2%;
    cursor: pointer;
    height: 50px;
    font-size: larger;
    float: left;
    margin-left: 5%;
}
.signupState h4{
    text-align: center;
    color: green;
    
}
.postJobState h4{
    text-align: center;
    color: green;
}

.browse_img_banner {
    border: 1px solid #e2e2e2;
    border-top: 0;
    padding: 70px;
}
.browse_img_banner .jp_job_post_side_img img {
    width: 20%;
}
.latest_job_overlow {
    max-width: 1500px;
}
.latest_job_box {
    border: 1px solid #e2e2e2;
    
    margin-bottom: 30px;
    height: 100px;
    
}
.theme-btn .default-btn button{
    font-size: 18px;
    font-weight: 500;
    font-family: "Catamaran", sans-serif;
    background: #fd1616;
    color: #ffffff;
    margin-right: 15px;
    border: 1px solid transparent;
    padding: 10px 25px;
    display: inline-block;
}

.looking-job .media .media-body button {
    color: #ffffff;
    font-size: 15px;
}

.recruiting-card .media .media-body button{
    color: #ffffff;
    font-size: 15px;
}

.search_btn button {
    width: 180px;
    height: 50px;
    background: #ff3366;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    border: 1px solid transparent;
    line-height: 48px;
    text-transform: capitalize;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.6s, color 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.candidate_dashboard_wrapper .emp_dashboard_sidebar img {
    width: 50%;
    margin-left: 30%;
    height: 5%;
    margin-top: 10%;
}

.job-card .thumb-img {
    border: 1px dashed #d9dbdf;
    max-width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    background: #ffffff;
    cursor: pointer;
}

.download_btn_wrapper li:first-child button {
    height: 45px;
    line-height: 45px;
    width: 190px;
    color: #222;
    font-weight: 400;
}
.header_btn li a {
    width: 140px;
    height: 50px;
    background: #ff3366;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    border: 1px solid transparent;
    line-height: 50px;
    text-transform: capitalize;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.6s, color 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.download_btn_wrapper li a {
    height: 45px;
    line-height: 45px;
    width: 110px;
    color: #fff;
}


