job_filter_category_sidebar jb_cover{
    border: gray solid 20px;
}

.job_filter_sidebar_heading {
    background-color: #FD1616;
    color:#ffffff;
}

.job_filter_sidebar_heading  h1{
    /* background-color: #ff3366; */
    color:#ffffff;
}
.container{
    max-width: 1500px;
}
.job_filter_category_sidebar{
    height: 450px;
}
.feedlist li button {
    text-transform: capitalize;
    font-size: 16px;
    color: #222;
    padding: 12px 0px;
    padding-left: 35px;
    border-left: 3px solid transparent;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cat label {
    border: gray solid 5px;
    width: 40%;
    padding: 2%;
    cursor: pointer;
    height: 50px;
    font-size: larger;
    float: left;
    margin-left: 5%;
}
.catSelected label {
    border: rgb(16, 100, 16) solid 5px;
    width: 40%;
    padding: 2%;
    cursor: pointer;
    height: 50px;
    font-size: larger;
    float: left;
    margin-left: 5%;
}
.signupState h4{
    text-align: center;
    color: green;
    
}